user admin
password password
url ldap://your-server.cisco.com:389
user_id_attribute CN
user_pass_attribute userpassword
user_objectclass inetOrgPerson
user_tree_dn OU=Users,DC=openstack,DC=org
query_scope one
tls_req_cert allow
group_member_attribute member
