.os-environment-dashboard
  .action-buttons
     height: 36px;
     width: 100%;
     display: inline-block;
     div
      float:right;

  .cl-action-button.cl-action-disabled
    color: lightgray 

  .sm-messages-section
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .sm-message-box
      flex: 1;
      padding: 0 15px;
  
  .content-details
    width:100%; 
    border: 1px solid #E4E6EA;
    margin-top:15px;
    padding: 30px;

    .env-single-header
      display: flex;
      padding-bottom: 30px;

      .env-single-header-info
        display: block;
        font-size: 36px; 
        text-transform: uppercase;
        line-height: initial;
        margin-right: 10px;

      .env-single-header-info-dist
        font-size: 22px;
        line-height: initial;
        color:#4C708D
      .env-single-header-info-scan
        font-size: 10px; 
        line-height: initial; 
        color: #8E9BA0


