[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/opnfv-gerrit-calipso-submitters
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group ldap/opnfv-gerrit-calipso-submitters
	submit = group ldap/opnfv-gerrit-calipso-submitters
	forgeAuthor = group ldap/opnfv-gerrit-calipso-contributors
	forgeAuthor = group ldap/opnfv-gerrit-calipso-submitters
	read = group GitHub Replication
	pushMerge = group ldap/opnfv-gerrit-calipso-submitters
[access "refs/tags/*"]
	create = group ldap/opnfv-gerrit-calipso-submitters
	push = group ldap/opnfv-gerrit-calipso-submitters
	pushTag = group ldap/opnfv-gerrit-calipso-submitters
	pushSignedTag = group ldap/opnfv-gerrit-calipso-submitters
	pushMerge = group ldap/opnfv-gerrit-calipso-submitters
