.os-list-details-box
  margin-bottom: 20px;
  .sm-items-dropdown-menu
    li
      cursor: pointer

.single-env-section
  height: 100px;
  border-top: 1px solid border-light-blue;
  margin-right: 40px;

.cube-section
  width: 242px;
  margin-right: 40px;
  .cube-title
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color:text-blue;
  .cube-details
    margin-top: 11px;
    display: flex;
    > img
      margin-left: 15px;
      margin-right: 17px;
      width: 42px;
      height: 42px;
    > .cube-list
        .cube-count
          font-size: 28px;
          color: text-new-grey;
