.table-view-container
  margin: 63px 63px 0px 63px;

  .table-view-title
    color: #606060;
    font-size: 36px; 
    line-height: 49px;
  
  .add-new-item-text
    color: gray;
    font-size: 18px;
  
  .view-new-item-icon
    color: gray;
    font-size: 16px !important;

  .table-view-results
    margin-top: 20px;
    th
      color: #C4C4C4;
      font-size: 11px;
      border-bottom: 2px solid #00AAF1;
      text-transform: uppercase;

      a
        color: #C4C4C4;
        font-weight: bold;
    td
      border-bottom: 2px solid #DDDDDD;
      height: 60px;
      padding: 0 0 0 10px;
      vertical-align: middle;
      font-size: 14px;
      color: #686869
    tbody tr:hover
      background-color: #EAEDF2
      border-left: 2px solid #00AAF1

    .actions-list
      .actions-icon
        width: 30px;
        height: 30px;
        cursor: pointer;

      .drop-down-overflow
        overflow: auto;
        width:110px;
      
      .actions-button
        width: 30px;
        height: 30px;

      .dropdown-menu-right
        position: relative;
        text-align: left;
        box-shadow: 0 4px 14px 0 rgba(0,0,0,0.25);
        width:110px;
        min-width:110px;
        font-size: 14px;
        border-radius: 0;
        padding: 0px;

      .dropdown-action-header
        text-align: left;
        font-size 14px;

.sm-pager-section
  display: flex;
  justify-content: center;
  text-align: center;