.os-scheduled-scan
  margin: 20px;

  .cl-field-group
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 0;

    .cl-field-label
      width: 170px;
      margin: 0 5px;

    .cl-input
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      width: 400px;
      margin: 0 5px;

    .cl-field-desc
      margin: 0 5px;

  .js-message-panel
    margin-top: 20px;
