<template name="MtRadios">
<div class="os-mt-radios">

{{#each option in options }}
<div class="radio">
  <div class="cl-field-group">
    <label>
      <input type="radio" 
             class="cl-mt-radio-input {{ inputClasses }}"
             name="radioName" 
             id="{{ option.value }}" 
             value="{{ option.value }}" 
             {{ attrsInput option.value selectedValue }}
              >
        {{ option.label }}
    </label>
  </div>
</div>
{{/each }}

</div>
</template>
