.os-clique-constraints-list
  margin: 20px;

  .cl-action-icon,
  .card.fa.cl-action-icon
    font-size: 16px !important;

  .sm-clique-constraints-table
    th
      color: spark-blue

    .sm-action-bar
      display: flex;

      a
        margin: 0px 5px;

    .cl-action-icon
      color: gray

  .sm-add-new-link
    color: spark-blue
