/* Set the component style here */
// "NetworkInfoBox"
.network-details
  width:800px; 
  border: 1px solid #E4E6EA;
  padding: 15px;
  margin-bottom: 15px;

  .network-name
    font-size: 22px;
    line-height: initial;
    color:#4C708D

  .network-summary-item-container
    background-color: #EAEDF2;
    width:130px;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    
    .network-summary-item
      text-align: center;
      margin:0 auto;
      padding-top: 3px;

      .network-summary-item-title
        color:#556A80;
        font-size: 14px;

      .network-summary-item-counter
        color:#6A84A0;
        font-size: 36px;
        width:50%; 
        margin:0 auto;
        line-height: 49px;