.sm-environment-wizard-container
  display: flex;
  flex-flow: row nowrap;

  .site-sidenav
    p
      font-size: 0.8em;
    i 
      color: white;

    .menu-header
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      padding: 10px;
      color: white;
      font-size: 1.7em;
       
  .env-wizard-main-content
    margin-top: 67px;
    margin-left: 99px;
    
    .env-name-header
      font-size: 36px;
      color: text-grey;
      text-transform: uppercase;
      margin-bottom: 25px;
  .sm-environment-form 
    .sm-main-layout-no-nav
      background-color: white-grey;
      margin: 0;
      .env-tabs-control
        height: 65px;
        li
          a
            color: text-light-grey;
            height: 64px;
            padding-top: 20px;
            border-right: 0;
            border-left: 0;
            border-top: 0;
            background-color: white-grey;
        li.active
          a
            color: text-light-blue;
            height: 64px;
            padding-top: 20px;
            border-right: 0;
            border-left: 0;
            border-top: 0;
            border-bottom: 3px solid text-blue;
            background-color: white-grey;

    .js-message-panel 
      margin: 20px 40px;
      margin-bottom: 0px;
      white-space: pre-line;

.single-type-box 
  padding: 20px;
  margin-top: 67px;
  margin-left: 63px;
  background-color: bg-grey;