.os-landing

  section
    display: flex;
    flex-flow: column;
    align-items: center;

  .sm-section-content
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 1000px;

  .sm-landing-hero-section
    background-color: #2196F3;
    color: #f9f9f9;

    .sm-section-content

      .sm-login-subsection
        display: flex;
        justify-content: space-between;
        align-self: stretch;

      .sm-main-content
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .sm-main-header
          display: flex;
          flex-flow: row;
          justify-content: space-around;
          
          .sm-logo
            padding: 30px; 
            width: 260px;

        .sm-description
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          p
            text-align: center;
            font-size: 20px;

  .sm-landing-section-2
    border-color: #fff;
    padding: 40px 0;
      
    .sm-section-content
      font-size: blue;
      
  .sm-desc-point
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 40px 0;

    .sm-desc-point-content
      flex: 0 0 400px;

      li
        margin: 10px 0;

    .sm-desc-point-icon
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0 60px;

      img
        width: 300px;
        padding: 0 10px;

      img.sm-big-image-icon
        width: 600px;
