.os-accordion-nav-menu
  .sm-btn-dashboard
    cursor: pointer;

  .sm-inventory-tree
    float: left;
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: stretch;

  .sm-collapsed-menu
    padding: 0px;
    
    a
      color: white;
      cursor: pointer;