.os-topnavbarmenu 
  .os-nav-link 
   cursor: pointer; 

  .sm-dashboard-link
    display: flex;

  .sm-navbar-header 
    .sm-navbar-brand-container
      display: flex; 

      .sm-cisco-logo
        width: 40px; 

      .sm-calipso-logo
        width: 40px; 
        
      .sm-project-label
        color: white;
        font-size: medium;

      .cl-item
        margin: 0px 10px
