.os-environment-box
  border: 2px solid border-white-grey;
  display: flex;
  background-color: white;
  padding: 33px 30px 0px 30px;
  width: 582px;
  height: 460px;

  .env-name-container
    line-height: normal;
    border: 0;
    display: flex;
    justify-content: space-between;
    height: 90px;
    .env-name
      font-size: 36px;
      color: text-grey;
      font-weight: normal;
      text-transform: uppercase;
      line-height: normal;
      display: block;
    .env-more
      border: 0;
      right: 30px;
      position: relative;

      > img
        width:42px;
        height: 42px;

  .single-env-section
    height: 100px;
    border-top: 1px solid border-light-blue;
    //border-bottom: 1px solid border-light-blue;

  #dist-section
    width: 523px;
    .dist-title
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color:text-blue;
    
    .dist-details
      margin-top: 11px;
      display: flex;
      border: 0;
      > img
          margin-left: 15px;
          margin-right: 17px;
          width:42px;
          height:42px;
      > .dist-name
          font-size: 34px;
          color: text-new-grey;
          text-transform: capitalize;
          line-height: initial;

  .two-part-section
    width: 242px;
    margin-right: 40px;
    .section-title
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color:text-blue;
    .section-details
      margin-top: 11px;
      display: flex;
      > img
        margin-left: 15px;
        margin-right: 17px;
        width: 42px;
        height: 42px;
      > .objects-list
          .objects-count
            font-size: 28px;
            color: text-new-grey;

  .three-part-section
    width: 168px;
    margin-right: 10px;
    .section-title
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color:text-blue;
    .section-details
      margin-top: 11px;
      display: flex;
      > img
        margin-left: 15px;
        margin-right: 17px;
        width: 42px;
        height: 42px;
      > .objects-list
          .objects-count
            font-size: 28px;
            color: text-new-grey;

  .three-part-section:last-child
    margin-right: 40px;

  #project-section
    width: 242px;
    margin-right: 40px;
    .project-title
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color:text-blue;
    .project-details
      margin-top: 11px;
      display: flex;
      > img
        margin-left: 15px;
        margin-right: 17px;
        width: 42px;
        height: 42px;
      > .project-list
          .projects-count
            font-size: 28px;
            color: text-new-grey;

  .sm-desc-column
    padding-top: 24px;

  .sm-main-icon
    font-size: 54px;
    color: spark-blue; 

  .sm-env-summary
    display: flex;
    flex-flow: row wrap;
  
  .env-summary
    width: 524px;
    height: 110px; 
    background-color: #EAEDF2;
    padding: 20px 0px;
    display: flex;

    .env-summary-item-container
      width:130px;
      border-right: 1px solid #DDDDDD;
      
      .env-summary-item
        text-align: center; 
        margin:0 auto;
        padding-top: 3px;

        .env-summary-item-title
          color:#556A80;
          font-size: 14px;

        .env-summary-item-counter
          color:#6A84A0;
          font-size: 36px;
          width:50%; 
          margin:0 auto;
          line-height: 49px;
