.sm-environment-container 

  .sm-node-no-graph-data-msg
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: large;

  .sm-env-header-line
    display: flex
    flex-flow: row nowrap 
    justify-content: space-between
    align-items: center

  .sm-env-header-name-cmp
    flex-grow: 2
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
 
  .cl-action-button 
    color: spark-blue

  .sm-delete-button.cl-action-button
    color: status-red;

  .main-layout-no-nav
    display: flex;
    flex-flow: column nowrap;

    margin: 0px; 
    
    .sm-breadcrumb-segment
       background-color brand-blue 

    .sm-main-content-segment
      display: flex;
      flex-flow: column nowrap;

      flex: 1 0;

      .sm-dashboard
        padding: 20px;

      //.sm-graph
      //  flex: 1 0;
      .sm-network-graph
        flex: 1 0;

  .sm-items-segment
    display: flex
    flex-flow: row wrap
    justify-content: space-around

  .sm-list-info-boxes
    display: flex
    flex-flow: row wrap
    justify-content: space-around


