.os-data-cubic
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .sm-container 
    display: flex;
    flex-flow: row nowrap;

    .sm-icon-part
      flex: 1

    .sm-info-part
      flex: 2    

      display: flex;
      flex-flow: column nowrap
      
      .sm-data-info
        font-size: 12px;

.os-data-cubic.cl-theme-dark
  background-color: dk-gray1

.os-data-cubic.cl-theme-light
  color: spark-blue 
  background-color: #fff
