
.node circle {
    fill: steelblue;
}
.node text {
    font: bold 14px sans-serif;
    fill: rgb(16, 15, 15);
    text-shadow: 0 0px 0 #fff;
    /*font-size: 0.8em;*/
}
.link {
    /*
    fill: #1313AB;
    stroke: #1313AB;
    */
}
.different-groups{
    stroke: #999;
}
.default {
    stroke: #fbb;
    stroke-width: 4px;
}
.outline {
    stroke: #844;
    stroke-width: 6px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    opacity 1 
    font:  bold 18px sans-serif !important;
    /* width: 60px; */
    /* height: 28px; */
    padding: 20px;
    font: 16px sans-serif;
    background: dk-gray1;
    color white
    border: 2px solid stark-blue
    pointer-events: none;
}
.background {
    stroke: white;
    stroke-width: 1px;
    fill: white;
}
