// .os-scheduled-scans-list
//   display: flex;
//   flex-flow: column nowrap;
//   margin: 20px;

//   .cl-action-icon,
//   .card.fa.cl-action-icon
//     font-size: 16px !important;

//   .sm-scheduled-scans-table
//     th
//       color: spark-blue

//       a
//         color: spark-blue;
//         cursor: pointer;
//         i.fa
//           padding: 0px 3px;
//           font-size: small;

//     .sm-action-bar
//       display: flex;

//       a
//         margin: 0px 5px;

//     .cl-action-icon
//       color: gray

  // .sm-pager-section
  //   display: flex;
  //   justify-content: center;
  //   text-align: center;

