.os-zone-dashboard
  .content-details
    width:100%; 
    border: 1px solid #E4E6EA;
    margin-top:15px;
    padding: 30px;

    .main-cube-title
      text-transform: capitalize;
      color: #333;
      font-size: 36px;
      line-height: initial;
      padding-bottom: 30px;

  // .sm-info-boxes
  //   display: flex
  //   flex-flow: row wrap;
  //   justify-content: space-around

  // .sm-list-info-boxes 
  //   display: flex;
  //   flex-flow: row wrap 
  //   justify-content: space-around
