.os-messages-list
  display: flex;
  flex-flow: column nowrap;
  margin: 20px;

  .cl-action-icon,
  .card.fa.cl-action-icon
    font-size: 16px !important;

  .sm-messages-table
    th
      color: spark-blue

      a
        color: spark-blue;
        cursor: pointer;
        i.fa
          padding: 0px 3px;
          font-size: small;

    .sm-action-bar
      display: flex;

      a
        color: spark-blue;
        margin: 0px 5px;
        cursor: pointer;

    .cl-action-icon
      color: gray

  .sm-pager-section
    display: flex;
    justify-content: center;

  .cl-link
    cursor: pointer
