#dgraphid
  width: 100%;
  height: 100%;

  svg.os-d3-graph {
      /*background-color: antiquewhite;*/
      /*background-color: rgb(161, 183, 206);*/
      background-color:#FDFEFF;
      /*height:100vh; */
      /* padding-top: 100px; */

  }
