.get-started-header
  font-size: 17px;
  color: white;
  padding-left: 20px;
  padding-top: 30px;
  text-transform: uppercase;
  height: 65px;
  border-bottom: 1px solid black;
  background-color: text-light-blue;
.step-header > li > a
  text-transform: uppercase;
  background-color: white!important;
  color: #777777!important;
  border-bottom: 1px solid #BFBFBF!important;
  
  
