.scanning-request-box
  margin-top: 67px;
  margin-left: 63px;
  background-color: bg-grey;

  .box-header
    text-transform: uppercase;
    font-size: 36px;
    color: text-grey;
    line-height: 30px;
    margin: 20px;
  
  .sm-form-container
    .js-message-panel 
      margin: 20px 0;
  
  .box-label
    font-size: 14px;
    color: #31343F; 
    text-transform: uppercase;

.submit-req-btn
  margin: 20px;

