.os-general-folder-node-dashboard
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .sm-children-section
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    >.sm-child-info-box
      padding: 10px;
