.os-selectable-ordered-input
  display: flex;
  flex-flow: row nowrap;

  .cl-action-btn
    width: 33px;
    height: 29px;
    font-size: 5px;
    margin: 3px;

  .sm-choices-section
    flex: 1;
    
  .sm-product-section
    flex: 1;

  .sm-choices-product-actions-bar
    flex: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    padding: 0 6px;

  .sm-product-actions-bar
    flex: 0;
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 6px;
