.scanning-container
  margin: 67px 0px 67px 63px;
  background-color: bg-grey;
  padding-bottom: 5px;
  border: 0;

  .scanning-headers
    color: white;

    .env-tabs-control
        height: 65px;
        li
          a
            color: text-light-grey;
            height: 64px;
            padding-top: 20px;
            border-right: 0;
            border-left: 0;
            border-top: 0;
            background-color: white-grey;
        li.active
          a
            color: text-light-blue;
            height: 64px;
            padding-top: 20px;
            border-right: 0;
            border-left: 0;
            border-top: 0;
            border-bottom: 3px solid text-blue;
            background-color: white-grey;
