.os-network-graph
  width: 100%;
  height: 100%;

  .sm-graph
    width: 100%;
    height: 100%;
    
    .group 
      .group-shape
        stroke: #fff;
        stroke-width: 1.5px;
        cursor: move;
        opacity: 0.7;

      .group-name
        fill: rgba(133, 133, 133, 0.52);
        font-weight: 400;
        line-height: 20px;
        font-family: 'Helvetica', 'Arial', sans-serif;

    .link-group 
      text
        font: bold sans-serif;
        fill: rgba(8, 8, 8, 0.73);
