.os-pager
  .cl-disabled
    color: gray;
  .first-round
     border-top-left-radius: 15px!important;
     border-bottom-left-radius: 15px!important;
     cursor: pointer;
     margin-right: 3px;
     width: 50px;
  .prev-round
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     margin-right: 1px;
     margin-left: 5px;
     cursor: pointer;
     width: 80px;
  .round-number
    border-radius: 20px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
  .next-round
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     margin-right: 3px;
     margin-left: 3px;
     cursor: pointer;
     width: 80px;
  .last-round
     border-top-right-radius: 15px!important;
     border-bottom-right-radius: 15px!important;
     cursor: pointer;
     margin-left: 3px;
     width: 50px;
    
