.os-messages-modal

  .cl-link
    cursor: pointer

  .modal-dialog
    display: flex;
    flex-flow: column nowrap;

    .modal-title
      text-transform: uppercase;
      color: #606060;

    .sm-messages-table
      table-layout: fixed;
      th
        color: #c4c4c4;
        text-transform: uppercase;
        font-size: 12px;


     .sm-message-row
        word-break: break-all;

    .sm-pager-section
      display: flex;
      justify-content: center;
  .modal-corner-img
    width: 35px; 
    height: 35px;
