.os-zone-dashboard
  .sm-info-boxes
    display: flex
    flex-flow: row wrap;
    justify-content: space-around

  .sm-list-info-boxes 
    display: flex;
    flex-flow: row wrap 
    justify-content: space-around
