/* Set the component style here */
.os-project-dashboard
  .sm-info-boxes
    display: flex
    flex-flow: row wrap;
    justify-content: space-around

  .sm-list-info-boxes 
    display: flex;
    flex-flow: row wrap 
    justify-content: space-around
    
    >.sm-item
      margin: 10px;
