// Colors
black = #222
grey = #D8D8D8
purp = #524763
dark-purp = #373142
red = #E54B4B
teal = #82D8D8
dark-teal = #66A6A6
green = #CBE56C
blue = #16528E
bright-blue = #0082C8
maroon = #6A2140
light-red = #CA5765
pink = #CF256D
orange = #E8846B

// cisco brand Colors
brand-blue = #2196F3
spark-blue = #0A9AD7
spark-green = #73BE46
spark-grey = #D1D2D1
dk-blue = #303f9f
light-grey = #efefef
dk-gray1 = #58585b
// cisco brand status Colors
status-blue = #64bbe3
status-turq = #14a792
status-green = #6cc04a
status-yellow = #ffcc00
status-orange = #ff7300
status-red = #cf2030
// cisco accepteble colors

@import './imports/ui/components/index';
