/* Set the component style here */
// "GraphTooltipWindow"
.os-graph-tooltip-window
  visibility: hidden;

  position: absolute;
  text-align: left;
  opacity: 0
  font: normal 18px sans-serif !important;
  /* width: 60px; */
  /* height: 28px; */
  padding: 20px;
  font: 16px sans-serif;
  background: dk-gray1;
  color white
  border: 2px solid stark-blue
  pointer-events: none;

  transition: visibility 0.5s, opacity 0.5s linear

.os-graph-tooltip-window.cl-visible 
  visibility: visible
  opacity: 0.9
  transition: visibility 0.2s, opacity 0.2s linear

