.os-messages-modal

  .cl-link
    cursor: pointer

  .modal-dialog
    display: flex;
    flex-flow: column nowrap;

    .sm-messages-table
      table-layout: fixed;

     .sm-message-row
        word-break: break-all;

    .sm-pager-section
      display: flex;
      justify-content: center;
